@import 'home';

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: paleturquoise;

  // @include verticalCenter;
}
li {
  list-style-type: none;
}